*{} 
body{
	background-color:grey;
	color:black;

	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 16px;
	font-weight:normal;
	
	line-height: 1.6em;  
}
a{
	text-decoration: none;
	color: black;
}

a:hover{
	color:red;
}
a:active{
	color: green;
}

/*a:visited{
	color:pink;
}*/

.clr{
	clear:both;
}

.container{
   width: 80%;
   margin: auto;
}

.box-1{
	background-color:#333;
	color:#fff;
 
     /*normal style*/
	border-right:5px red solid;
	border-left:5px red solid;
	border-top:5px red solid;
	border-bottom:5px red solid;
	 /*Or*/
    border:5px red solid;

     /*dotted style*/
    /*border-style:dotted;*/ 

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

     /*Or*/
     padding: 20px;

    margin:20px;
}

.box-1 h1{
	font-family:Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: 0.2em;

}
 
 .box-2{
    background: grey;
    color: black;

 	border: 5px dotted;
 	padding: 20px;
 	margin: 20px;
 }

 .Categories{
 	border:2px black dotted;
 	border-radius: 30px;
 }

 .Categories h2{
 	color:black;
 	text-align: center;
 }

 .Categories ul{
 	list-style: square;
 	color: black;
 }

 .Categories li{
 	padding-bottom: 8px;
 	border-bottom: 1px #333;
 	list-style-image: url("../images/check .jpg");
 }

 .my{
 	color: black;
 	padding:20px; 
 	 }

 .my label{
 	display: block;
 	font-weight: bold;
 }

 .my input[type="text"], .my textarea{
 	padding: 8px;
 	width: 100%;
 }

.my input[type="submit"]{
	background-color: brown;
	color:white;
	padding:10px 15px;
	border:none;
}

.bock{
	float: left;
	width: 33%;
	color: black;
    border:2px solid black;
    padding:10px;
    box-sizing:border-box;
}

#main{
	float: left;
	width: 70%;
	border: 1px solid black;
	padding: 15px;
	box-sizing: border-box;
}

#side{
	float: right;
	width: 30%;
	background-color:#333;
	color: white;
	border: 1px solid black;
	padding: 15px;
	box-sizing: border-box;

}

.bus{
	width: 500px;
	height:500px;
	border: 1px solid black;
	margin-top: 30px;
	position: relative;
	background-image:url('../images/check.jpg');
	background-position: 100px 200px;
	background-repeat: no-repeat;
	background-position: center top;
}

.bus h1{
	position: absolute;
	top:100px;
	left:200px;
}

.bus h2{
	position: absolute;
	bottom: 200px;
	right: 40px;
}

.fixed{
	position: fixed;
	top: 400px;
}

.champ ul{
	list-style:asterisks;
}

.champ li:first-child{
	background: red;

}

.champ li:last-child{
	background: blue;

}

.champ li:nth-child(3){
	background: yellow;

}

.champ li:nth-child(even){
	background: #333;

}


 .grid div{
 	background: #eee;
 	padding: 1em;
 }

 .grid div:nth-child(odd){
 	background: navy;
 }


 .grid {
 	display:grid;
 	grid-template-columns: 40% 30% 30%;
 	grid-column-gap: 1em;
 	grid-row-gap: 1em;

 	grid-gap: 1em;
 }